<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/css/mui.min.css" rel="stylesheet" />
		<link rel="shortcut icon" href="/ico/app.ico"/>
		<style>
			.mui-title{
			color: #FFFFFF;
			}
			h4{
				font-family: "lucida console";
				font-weight: 400;
			}
			#success{
				border-radius: 0px 100px;
				position: absolute;
				top: 10px;
				right: 2px;
			}
			#fail{
				border-radius: 0px 100px;
				position: absolute;
				top: 10px;
				right: 2px;
			}
			.mui-btn-outlined{
				width: 100%;
				border: none;
				outline: none;
			}
		</style>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav mui-badge-primary">
			<span class="mui-icon mui-icon-back" onclick="javascript:history.back(-1);"></span>
			<h1 class="mui-title">我的请假记录</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view" id="leaveList">
			</ul>
			<div id="loading">
				<button type="button" class="mui-btn mui-btn-outlined" style="display: none">加载</button>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="/js/jquery-2.1.4.js"></script>
		<script type="text/javascript">

			$(function() {
        var pageNo = 1;
        var studentSno ='';


        $.ajax({
          url: '/studentApi/getStudentSession',
          data: {studentBean: 'studentsession'},
          dataType: 'json',
          type: 'post',
					async:false,
          success: function(data) {
            studentSno = data.body.studentSno;
            return studentSno;
          }
        })

			  $.ajax({
					url:'/leaveApi/selectLeaveByPage/',
					dataType:'json',
					type:'get',
					data:{pageNo:pageNo,pageSize:10,studentSno:studentSno},
          contentType: 'application/json; charset=utf-8',
          async:false,
					success:function(data) {
						for(var i = 0 ;i<data.body.list.length;i++){
              var $node = $('<li class="mui-table-view-cell">\n' +
                  '<span class="mui-badge mui-badge-success" id="success">已批阅</span>\n' +
                  '<a href = "/leaveApi/selectByPrimaryKey/'+data.body.list[i].leaveId+'">\n' +
                  '<h4>'+data.body.list[i].leaveTitle+'</h4>\n' +
                  '<p>\n' +
                  '请假课程：<span>高等数学</span>\n' +
                  '</p>\n' +
                  '<p>开始时间：<span>'+GMTToStr(data.body.list[i].startTime)+'</span>&nbsp;&nbsp;&nbsp;结束时间：<span>'+GMTToStr(data.body.list[i].endTime)+'</span></p>\n' +
                  '\n' +
                  '</a>\n' +
                  '</li>');
              $("#leaveList").append($node);
						}
          }
				});
      });


      function GMTToStr(time){
        var date = new Date(time)
        var Str=date.getFullYear() + '-' +
            (date.getMonth()+1) + '-' +
            date.getDate()
        return Str
      }
		</script>
	</body>

</html>
