<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="/css/mui.min.css" rel="stylesheet" />
		<link rel="shortcut icon" href="/ico/app.ico"/>
		<style type="text/css">
			body{
				font-size: 14px;
			}
			.mui-bar {
				margin-top: 10px;
			}

			.mui-title {
				color: #FFFFFF;
			}
			.mui-input-row img{
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
			input{
				font-size: 14px;
				color: #555555;
			}
			.mui-btn{
				background-color: #007aff;
				color: #FFFFFF;
				border: none;
				outline: none;
				right: -315px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-badge-primary">
			<h1 class="mui-title">我的信息</h1>
			<button type="button" class="mui-btn mui-btn-outlined" id="back">退出</button>
		</header>

		<div class="mui-content">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<div class="mui-input-row">
						<label>头像</label>
						<img src="" name="userPic">
					</div>
					<div class="mui-input-row">
						<label>姓名</label>
						<input type="text" class="mui-input-clear"  name="username">
					</div>
					
					<div class="mui-input-row">
						<label>学号</label>
						<input type="text" class="mui-input-clear"  name="sno">
					</div>
				
					<div class="mui-input-row">
						<label>年龄</label>
						<input type="text" class="mui-input-clear"  name="age">
					</div>
						<div class="mui-input-row">
						<label>性别</label>
						<input type="text" class="mui-input-clear" name="sex">
					</div>
					<div class="mui-input-row">
						<label>QQ</label>
						<input type="text" class="mui-input-clear" name="qq">
					</div>
					<div class="mui-input-row">
						<label>邮箱</label>
						<input type="text" class="mui-input-clear"  name="email">
					</div>
						<div class="mui-input-row">
						<label>专业</label>
						<input type="text" class="mui-input-clear"  name="profession">
					</div>
					<div class="mui-input-row">
					<label>学院</label>
					<input type="text" class="mui-input-clear"  name="apartment">
				</div>
					<div class="mui-input-row">
						<label>学校</label>
						<input type="text" class="mui-input-clear"  name="school">
					</div>
			</ul>
		</div>

		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" id="home">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item">
				<span class="mui-icon mui-icon-chatbubble"></span>
				<span class="mui-tab-label">消息</span>
			</a>
			<a class="mui-tab-item" id="myinfo">
				<span class="mui-icon mui-icon-person mui-active"></span>
				<span class="mui-tab-label">我的信息</span>
			</a>
		</nav>
		<script src="/js/mui.min.js"></script>
		<script src="/js/jquery-2.1.4.js"></script>

		<script type="text/javascript">
			$(function() {

        $('#myinfo').click(function() {
          location.href='/student/person.html';
        });
        $('#home').click(function() {
          location.href='/student/index.html';
        });

        $('#back').click(function() {
          location.href='/studentApi/removeStudentSession';
        });

        // 获取session的值
        $.ajax({
          url:'/studentApi/getStudentSession',
          data:{studentBean:'studentsession'},
          dataType:'json',
					type:'post',
          success:function (data) {
            if(data.body==null){
								location.href='/toLogin';
						}
            $('img[name=\'userPic\']').attr('src',data.body.studentPic);
            $('input[name=\'username\']').val(data.body.studentName);
            $('input[name=\'sno\']').val(data.body.studentSno);
            $('input[name=\'age\']').val(data.body.studentAge);
            $('input[name=\'sex\']').val(data.body.studentSex);
            $('input[name=\'qq\']').val(data.body.studentQq);
            $('input[name=\'email\']').val(data.body.studentEmail);
            $('input[name=\'profession\']').val(data.body.profession.professionName);
            $('input[name=\'apartment\']').val(data.body.profession.apartment);
            $('input[name=\'school\']').val(data.body.profession.school);
          }
        });
      });




		</script>
	</body>

</html>
