<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>教师列表</title>
		<link href="/bootstrap-3.3.7/dist/css/bootstrap.css" rel="stylesheet" />
	 <link href="/css/common.css" rel="stylesheet" />
		<link rel="shortcut icon" href="/ico/index.ico"/>
		<link href="/layui/css/layui.css" rel="stylesheet" />
		<style>
			.layui-input-block{
				margin-left: 1px;
				float:left;
			}

			.layui-form-item{
				margin-top: 10px;
			}
			.layui-form-label{
				width: 90px;
			}
		</style>
	</head>
	<body>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">起始日期</label>
			<div class="layui-input-block">
				<input type="text" name="date" id="start" autocomplete="off" placeholder="请选择查询的起始日期" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">结束日期</label>
			<div class="layui-input-block">
				<input type="text" name="date" id="end" autocomplete="off" class="layui-input" placeholder="请选择查询的结束日期">
			</div>
		</div>
		<div class="layui-inline">
			<button type="button" class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i>查询</button>
		</div>
		<div class="layui-input-block">
			<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入你要查询的学号" class="layui-input">
		</div>
	</div>
	<div id="table">
		<table class="table table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th>
						学生学号
					</th>
					<th>
						学生姓名
					</th>
					<th>
						请假标题
					</th>
					<th>
						事由
					</th>
					<th>
						开始时间
					</th>
					<th>
						结束时间
					</th>
					<th>
						请假课程
					</th>
					<th>
						状态
					</th>
					<th>
						操作
					</th>
				</tr>
			</thead>
			<tbody id="leaveTable">

			</tbody>
		</table>
	</div>
		<div id="fenye">
			<ul class="pagination">
				<li>
					<a href="#">上一页</a>
				</li>
				<li>
					<a href="#">下一页</a>
				</li>
			</ul>
		</div>
	</body>


	<script src="/js/jquery-2.1.4.js" type="application/javascript"></script>
	<script src="/layui/layui.js" type="application/javascript"></script>ss
	<script src="/bootstrap-3.3.7/dist/js/bootstrap.js" type="application/javascript"></script>
	<script>
    $(function() {
      var a = 0;
      var pageNo = 1;
      var pageSize = 10;
      // 定义表格的样式
      var classArr = new Array('', 'success', 'error', 'warning', 'info');

      $.ajax({
        url: '/leaveApi/selectByPage',
        data: {pageNo: pageNo, pageSize: pageSize},
        dataType: 'json',
        type: 'get',
        success: function(data) {
          console.log(data);
          for (var i = 0; i < data.body.list.length; i++) {
            var $node = $('<tr class=' + classArr[a++] + '>\n' +

                '<td>\n' +
                '' + data.body.list[i].student.studentSno + '\n' +
                '</td>\n' +
                '<td>\n' +
                '' + data.body.list[i].student.studentName + '\n' +
                '</td>\n' +
                '<td>\n' +
                '' + data.body.list[i].leaveTitle + '\n' +
                '</td>\n' +
                '<td>\n' +
                '' + data.body.list[i].leaveReason + '\n' +
                '</td>\n' +
                '<td>\n' +
                '' + GMTToStr(data.body.list[i].startTime) + '\n' +
                '</td>\n' +
                '<td>\n' +
                '' + GMTToStr(data.body.list[i].endTime) + '\n' +
                '</td>\n' +
                '<td>\n' +
                '' + data.body.list[i].course.courseName + '\n' +
                '</td>\n' +
                '<td>\n' +
                '' + data.body.list[i].isRead + '\n' +
                '</td>\n' +
                '<td>\n' +
                '<button type="button" class="btn btn-success btn-sm">查看</button>\n' +
                '<button type="button" class="btn btn-info btn-sm">删除</button>\n' +
                '<button type="button" class="btn btn-warning btn-sm">删除</button>\n' +
                '</td>\n' +
                '</tr>');
            $('#leaveTable').append($node);
            if (a == 5) {
              a = 0;
            }
          }
        }
      });
    });

    function GMTToStr(time){
      var date = new Date(time);
      var Str=date.getFullYear() + '-' +
          (date.getMonth()+1) + '-' +
          date.getDate();
      return Str;
    }
	</script>

</html>
