<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Application_Detail</title>
  <link rel="stylesheet" href="bootstrap-3.3.7/dist/css/bootstrap.css">
  <link rel="stylesheet" href="layui/css/layui.css" media="all">
  <script type="text/javascript" src="js/jquery-2.1.4.js"></script>
  <style>

    .summary {
      padding-top: 50px;
    }

    .summary .pic {
      text-align: center;
    }

    input {
      margin: 4px;
    }

    .header {
      margin-top: 40px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="col-md-12 column">
    <h3 class="text-center text-info">
      学生信息详情
    </h3>
  </div>
</div>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-10 column">
      <div>
        <form role="form" class="summary">
          <div class="pic" style="margin-left: 20px;">
            <div style="width: 150px;height: 150px;background-color: #000000;border-radius: 15px;">
              <img src=""/>
            </div>
          </div>
          <br><br>
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="username" width="20px;" disabled="false">
            </div>

            <label for="sno" class="col-sm-2 control-label">学号</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="sno" width="20px;" disabled="false">
            </div>
            <br>

            <label for="age" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="age" width="20px;" disabled="false">
            </div>
            <br>


            <label for="qq" class="col-sm-2 control-label">QQ</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="qq" width="20px;" disabled="false">
            </div>
            <br>


            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="email" width="20px;" disabled="false">
            </div>
            <br>

            <label for="profession" class="col-sm-2 control-label">专业</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="profession" width="20px;" disabled="false">
            </div>
            <br>

            <div class="col-sm-4">
              <input type="text" class="form-control" id="apartment" width="20px;" disabled="false">
            </div>
            <br><br>

            <label for="school" class="col-sm-2 control-label">学校</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="school" width="20px;" disabled="false">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
